<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="login">
      <div class="icon">
        <img src="woman.png" alt="icon" height="100px" width="100px"/>
      </div>
      <h1>Admin Login</h1>
      <div class="email">
        <p>enter your college email id :</p>
        <img class="email-file" src="email-file.gif" alt="email" />
        <input type="text" placeholder="email id" />
      </div>
      <div class="password">
        <p>enter password :</p>
        <img class="padlock" src="padlock.gif" alt="password" />
        <input type="text" placeholder="password" />
      </div>
      <div class="button">
        <form action="/adminDashboard">
          <input id="button" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
