<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Portal</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
<div class="login">
        <div class="icon">
        <img src="woman.png" alt="icon" height="100px" width="100px">
    </div>
    <h1> Teacher Login </h1>
    <div class="email">
        <p>enter your email id:</p>
        <img class="email-file" src="email-file.gif" alt="email">
        <input type="text" placeholder="email id">
    </div>
    <div class="password">
        <p>enter password:</p>
        <img class="padlock" src="padlock.gif" alt="password">
        <input type="text" placeholder="password">
        <div class="button">
            <form action="/teacherDashboard">
                <input id="button" type="submit" value="login"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>